@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#home-container {
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/jana-muller-tjDHhOfGAIY-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#home-container>.sub-container {
  display: flex;
  flex-direction: column;
  height: 20%;
  background-color: white;
  padding: 8px;
}

#home-container>.uber-logo {
  width: 5em;
  margin-top: 20px;
  margin-left: 20px;
}

#home-container>.sub-container>h2 {
  font-weight: bolder;
  font-size: 27px;
}

#home-container>.sub-container>button {
  margin-top: 15px;
  padding: 5px;
  border: 2px solid black;
  color: white;
  background-color: black;
  width: 80%;
  align-self: center;
  border-radius: 5px;
}

#home-container>.sub-container>div {
  width: 40%;
  height: 5px;
  background-color: black;
  align-self: center;
  margin-top: 20px;
  border-radius: 5px;
}